<!-- <div class="navbar navbar-extend-md fixed-top fixed-header">
    <div class="container">
        <nav>
            <a routerLink="/">Home</a>&nbsp;&nbsp;&nbsp;
            <a routerLink="/add-user">Add-user</a>
        </nav>
    </div>
</div> -->

<app-game></app-game>
<!-- <router-outlet></router-outlet> -->
<!-- <app-add-employee></app-add-employee>
<app-employee></app-employee>
<app-user-form></app-user-form>
<h2>Reactive form</h2>
<app-add-employee [countFromParent]="count" (countFromChild)="getFromChild($event)"></app-add-employee>
<hr>
<div>
    count from child is {{count}}
</div>
<hr>
<hr>
<app-employee></app-employee> -->